body {
    background-image: radial-gradient(rgb(20, 117, 247), rgb(5, 41, 137));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
    overflow: hidden;
}

#text {
    color: white;
    font-size: 125px;
    font-family: "Cairo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
        "slnt"0;
}

#icon {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color: white;
    padding: 10px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    top: 0;
    left: 75px;
    animation-name: iconAnim;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    box-shadow: 5px 5px 10px black;
}

@keyframes iconAnim {
    0% {
        top: -150px;
    }

    100% {
        top: 0;
    }
}

#icon>p {
    transform: rotate(270deg);
    color: #0046b8;
    margin-bottom: 50px;
    font-size: 30px;
    font-weight: 300;
    font-style: normal;
    font-family: "Ubuntu", sans-serif;
}

#icon>img {
    width: 50px;
}

#pepsi {
    position: absolute;
    z-index: -1;
    filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.5));
    animation-name: pepsiAnim;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes pepsiAnim {
    0% {
        bottom: -800px;
        right: -800px;
        transform: rotate(0);
    }

    100% {
        bottom: 20px;
        right: 70px;
        transform: rotate(-20deg);
    }
}

#text>p {
    margin: 0;
    overflow: hidden;
    opacity: 0;
    text-shadow: 1px 1px 2px black;
}

#p1 {
    animation-name: textAnim1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 1.75s;
}

#p2 {
    animation-name: textAnim2;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 2.5s;
}

@keyframes textAnim1 {
    0% {
        opacity: 0;
        width: 0;
    }

    100% {
        opacity: 1;
        width: 100%;
    }
}

@keyframes textAnim2 {
    0% {
        opacity: 0;
        width: 0;
    }

    100% {
        opacity: 1;
        width: 100%;
    }
}

button {
    position: absolute;
    bottom: 50px;
    left: 70px;
    background-color: #0046b8;
    border: none;
    border-radius: 25px;
    padding: 15px 30px;
    box-shadow: 3px 3px 10px black;
    cursor: pointer;
    animation-name: buttonAnim;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 3.5s;
    opacity: 0;
}

button>a {
    text-decoration: none;
    color: white;
    font-family: "Cairo", sans-serif;
    font-weight: 800;
}

@keyframes buttonAnim {
    0% {
        opacity: 0;
        bottom: 0px;
    }

    100% {
        opacity: 1;
        bottom: 50px;
    }
}

@media screen and (max-width:1000px) and (min-width:750px) {
    @keyframes pepsiAnim {
    0% {
        bottom: -800px;
        right: -800px;
        transform: rotate(0);
    }

    100% {
        bottom: 20px;
        right: -15px;
        transform: rotate(-20deg);
    }
}
} 
@media screen and (max-width:750px) and (min-width:600px) {
    @keyframes pepsiAnim {
    0% {
        bottom: -800px;
        right: -800px;
        transform: rotate(0);
    }

    100% {
        bottom: 20px;
        right: -50px;
        transform: rotate(-20deg);
    }
    }
    #icon {
        left: 25px;
    }
    #icon>p {
        font-size: 25px;
        margin-bottom: 30px;
        font-weight: 500;
    }
    #icon > img {
        width: 40px;
    }
    #text>p {
        font-size: 90px;
    }
}
@media screen and (max-width:600px) and (min-width:400px) {
    @keyframes pepsiAnim {
    0% {
        bottom: -800px;
        right: -800px;
        transform: rotate(0);
    }

    100% {
        bottom: 20px;
        right: -100px;
        transform: rotate(-20deg);
    }
    }
    #icon {
        left: 15px;
        padding: 5px;
    }
    #icon>p {
        font-size: 20px;
        margin-bottom: 20px;
        font-weight: 500;
    }
    #icon > img {
        width: 30px;
    }
    #text>p {
        font-size: 70px;
    }
}
@media screen and (max-width:400px) and (min-width:200px) {
    @keyframes pepsiAnim {
    0% {
        bottom: -800px;
        right: -800px;
        transform: rotate(0);
    }

    100% {
        bottom: 100px;
        right: 0px;
        transform: rotate(-20deg);
    }
    }
    #icon {
        left: 20px;
        padding: 10px;
    }
    #icon>p {
        font-size: 15px;
        margin-bottom: 15px;
        font-weight: 500;
    }
    #icon > img {
        width: 25px;
    }
    #text>p {
        font-size: 50px;
    }
    #pepsi {
        width: 300px;
        height: auto;
    }
}

